@font-face {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald&display=swap') format('truetype');
}

@font-face {
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Oswald&display=swap') format('truetype');
}

@font-face {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap')
}