*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}

.items {
    display: grid;
    grid-template-columns: 4fr 2fr;
    width: 600px;
    height: 35px;
    margin: 5px 10px;
    border-bottom: 2px #2E5A67 solid;
}

.name-item {
    display: flex;
    margin-left: 15px;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
    color: #494949;
}

.div-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.div-icons svg {
    margin: 0 5px;
    font-size: 1.5rem;
}
.remove {
    color: #CE050F;
}

.check {
    color: #9ECF36;
}

.new-item {
    display: grid;
    width: 600px;
    height: 35px;
    grid-template-columns: 4fr 1fr;
    margin: 15px 10px;
}

input {
    height: 30px;
    width: 95%;
    margin-left: 15px;
    margin-top: 2px;
    border: none;
    border-bottom: 2px #DBEAEF solid;
    font-size: 1.4rem;
    font-family: 'Kalam', cursive;
    color: #494949;
}

input:focus {
    outline: none;
    border-bottom: 2px #2E5A67 solid;
}

.button-add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
    color: #CE050F;
}

.button-add svg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; 
}

@media (max-width: 1200px) {
    .items {
        width: 700px;
    }

    .new-item {
        width: 700px;
    }
}

@media (max-width: 800px) {
    .items {
        width: 600px;
    }

    .new-item {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .items {
        width: 300px;
    }

    .new-item {
        width: 300px;
    }
}
