body{
    background-color: #82B7C7;
}

#root{
    background-color: white;   
    border-radius: 5px;
    height: 96vh;
    margin: 2vh 0 2vh 0
}

h1 {
    margin-top: 25px;
}

@media(max-width: 650px) {
    #root {
        width: 90%;
    }
}